# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native builds (if using managed workflow prebuild)
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision

# Metro
.metro-health-check*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
!.env.example

# Debug and Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS / Windows / Linux OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Certificates & keys
*.pem

# TypeScript / build caches
*.tsbuildinfo
.turbo/
.cache/

# Testing
coverage/
.nyc_output/

# IDE and Editors
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
.settings/

# App example templates
app-example/
